@import "tailwindcss";
@import "@fontsource/irish-grover";

@theme {
  --color-primary: #eaeaea;
  --color-secondary: #740303;
  --color-container: #d9d9d9;
  --color-mainbutton: #696969;

  --font-cursive: "Irish Grover, cursive";
}
:root {
  font-family: "Irish Grover, cursive";
  background-color: #eaeaea;
}
@keyframes pop {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  50% {
    transform: scale(1.15);
    opacity: 1;
  }
  70% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.animate-pop {
  animation: pop 0.4s ease-out forwards;
}
